body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#first-section{
    background-image: url(hungry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.first-heading{
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 30px;
    padding-top: 150px;
}
.first-para{
    color: white;
    font-size: 20px;
    width: 700px;
    text-align: center;
    margin-left: 400px;
}
.btn{
    background-color: rgb(255, 68, 0);
    color: white;
    padding: 20px 30px;
    font-size: 20px;font-weight: 700;
    border-radius: 8px;
    margin-left: 700px;
    margin-top: 25px;
}
